# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Large Datasets / Archives
crowd density.v1-v1.yolov8/
crowd density.v1-v1.yolov8.zip
archive/
archive.zip
dataset/

# Deep Learning / YOLO runs, models and weights
runs/
models/
*.pt
*.pth
*.onnx
yolov8n.pt

# Temporary test outputs / logs
*.jpg
crowd_comparison.csv

# IDE configurations
.vscode/
.idea/
.DS_Store

# Custom Dataset Zips and Folders
Night Vision.v3i.yolov11/
Night Vision.v3i.yolov11.zip
crowd counting dataset.v2i.yolov11/
crowd counting dataset.v2i.yolov11.zip
Night Vision Subsampled/
crowd_density_merged/

# JHU-CROWD++ Dataset
data/jhu_crowd_v2.0/
data/jhu_crowd_v2.0.zip

# Media files
*.mp4
*.avi
*.mkv

