# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Large Datasets
crowd density.v1-v1.yolov8/
crowd density.v1-v1.yolov8.zip
dataset/

# Deep Learning / YOLO runs and weights
runs/
*.pt
*.onnx
models/best.pt
models/yolov8n.pt
yolov8n.pt

# IDE configurations
.vscode/
.idea/
.DS_Store
